# electron-builder 与 pnpm 符号链接布局兼容性更稳妥的选择
node-linker=hoisted

electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
